<div class="form_container card">
    <div class="card-content">
        <div>
            <div class="center-align">
                <h4>注册</h4>
            </div>
            <hr class="row">
            <form class="col s12">
                <div>
                    <div class="input-field col s12">
                        <input id="email" type="email" name="email" class="validate">
                        <label for="email">邮件地址</label>
                    </div>
                </div>
                <div>
                    <div class="input-field col s12">
                        <input id="password" type="password" name="password" class="validate">
                        <label for="password">密码</label>
                    </div>
                </div>
                <div>
                    <div class="input-field col s12 right-align">
                        <button class="btn waves-effect waves-light" type="submit" name="action">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
