<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="欢迎来到Teemos的世界">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <script src="/javascripts/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="sign">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="sign_page">
            <canvas id="demo-canvas" width="100%" height="100%"></canvas>
            <%-body %>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
        <script src="/javascripts/vendor/jquery-2.1.4.min.js"></script>
        <script src="/javascripts/vendor/materialize.min.js"></script>
        <script src="/javascripts/vendor/TweenLite.min.js"></script>
        <script src="/javascripts/vendor/EasePack.min.js"></script>
        <script src="/javascripts/vendor/react.min.js"></script>
        <script src="/javascripts/vendor/react-dom.min.js"></script>
        <script src="/javascripts/plugins.js"></script>
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/init.js"></script>
        <script src="/javascripts/templaza_demo.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
//            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
//            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
//            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
//            e.src='https://www.google-analytics.com/analytics.js';
//            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
//            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
