<div class="footer-copyright">
    <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://teemos.cn">Luke</a>
    </div>
</div>
<div>
    adtest1
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 横幅1 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-8534159790649469"
         data-ad-slot="2015869435"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div>
    ad 2
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- ad1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8534159790649469"
         data-ad-slot="8200173834"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div>
    搜索1
    <form action="http://www.google.com" id="cse-search-box">
        <div>
            <input type="hidden" name="cx" value="partner-pub-8534159790649469:3011264638" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="text" name="q" size="55" />
            <input type="submit" name="sa" value="Search" />
        </div>
    </form>

    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

</div>

<div>
    搜素2
    <style type="text/css">
        @import url(//www.google.com/cse/api/branding.css);
    </style>
    <div class="cse-branding-right" style="background-color:#FFFFFF;color:#000000">
        <div class="cse-branding-form">
            <form action="http://www.google.com.hk" id="cse-search-box" target="_blank">
                <div>
                    <input type="hidden" name="cx" value="partner-pub-8534159790649469:8918197438" />
                    <input type="hidden" name="ie" value="UTF-8" />
                    <input type="text" name="q" size="55" />
                    <input type="submit" name="sa" value="&#x641c;&#x7d22;" />
                </div>
            </form>
        </div>
        <div class="cse-branding-logo">
            <img src="http://www.google.com/images/poweredby_transparent/poweredby_FFFFFF.gif" alt="Google" />
        </div>
        <div class="cse-branding-text">
            自定义搜索
        </div>
    </div>

</div>
