<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="欢迎来到Teemos的世界">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <script src="/javascripts/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 横幅1 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-8534159790649469"
             data-ad-slot="2015869435"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>        <div id="app-header"></div>
        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <h1 class="header center orange-text text-darken-2">Teemos</h1>
                    <div class="row center">
                        <h5 class="header col s12 light">很显然我还没想好这个网站要用来干什么:P暂时先虐虐单身狗怎么样？</h5>
                    </div>
                    <div class="row center">
                        <a href="#" id="download-button" class="btn-large waves-effect waves-light teal orange">开始</a>
                    </div>
                    <br><br>

                </div>
            </div>
            <div class="parallax"><img src="/images/background1.jpg" alt="Unsplashed background img 1"></div>
        </div>


        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">stay_primary_portrait</i></h2>
                            <h5 class="center">男朋友 & 女朋友</h5>

                            <p class="light">说虐就虐，初步计划先做两个APP，分别叫男朋友和女朋友；单身没关系，男女朋友在手，天下我有！</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">trending_up</i></h2>
                            <h5 class="center">/下一个*/作品</h5>

                            <p class="light">假如某一天，万一第一个作品完成了，可能会出现下一个甚至再下一个作品；本着以学习为目的的信仰，我会不停的在此练手。</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">assignment_ind</i></h2>
                            <h5 class="center">-_-!</h5>

                            <p class="light">这个部分就用来私用吧，我的地盘我做主，又有什么办法呢。</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light">别急，网站的内容我会慢慢更新，只是现在实在想不出玩点什么好，如果你有想法建议创意的话，可以联系我们。</h5>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="/images/background2.jpg" alt="Unsplashed background img 2"></div>
        </div>

        <div class="container">
            <div class="section">

                <div class="row">
                    <div class="col s12 center">
                        <h3><i class="mdi-content-send brown-text"></i></h3>
                        <h4>联系我们</h4>
                        <p class="left-align light">哪有什么我们，我们是那么容易轻易就联系的到的吗！办公电话没有，又不是公司；电话号码保密，个人电话号码当然不能轻易泄露；QQ微信加不上，好友都满了；真心想联系我就放学后在操场等我吧，用意念想着我，半小时后就能见到我了。<br/>突然想起来，好像当时顺便弄了个Email: luke.sun@teemos.cn，说不定哪天喝多了会看一下收件箱。</p>
                    </div>
                </div>

            </div>
        </div>


        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light">Bye~</h5>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="/images/background3.jpg" alt="Unsplashed background img 3"></div>
        </div>

        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">团队简介</h5>
                        <p class="grey-text text-lighten-4">这是一个神秘的组织，欢迎加入。</p>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">友情链接</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Teemos</a></li>
                            <li><a class="white-text" href="#!">Teemos</a></li>
                            <li><a class="white-text" href="#!">Teemos</a></li>
                            <li><a class="white-text" href="#!">Teemos</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">链哪家好呢</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Teemos</a></li>
                            <li><a class="white-text" href="#!">Teemos</a></li>
                            <li><a class="white-text" href="#!">Teemos</a></li>
                            <li><a class="white-text" href="#!">Teemos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="brown-text text-lighten-3" href="http://teemos.cn">Luke</a>
                </div>
            </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
        <script src="/javascripts/vendor/jquery-2.1.4.min.js"></script>
        <script src="/javascripts/vendor/materialize.min.js"></script>
        <script src="/javascripts/vendor/react.min.js"></script>
        <script src="/javascripts/vendor/react-dom.min.js"></script>
        <script type="text/babel" src="/javascripts/react/header.js"></script>
        <script src="/javascripts/plugins.js"></script>
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/init.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
//            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
//            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
//            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
//            e.src='https://www.google-analytics.com/analytics.js';
//            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
//            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
